:root {
  --cor-amarelo: #FCE6A8;
  --cor-verde: #D2E4E1;
  --cor-cinza-claro: #e3e8ed;
  --cor-cinza-medio: #ced8e0;
  --cor-cinza-escuro: #788896;
  --cor-hover: #747c83;
  --cor-active: #55636e;
  --cor-branca: #fff;
  --cor-erro: #e0422e;
}

body {
  background-color: var(--cor-amarelo);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 200px) and (max-width: 640px) {
  .body_home {
    width: 100vw;
    box-sizing: border-box;  
    padding: 5px;
  
    display: grid;
    gap: 10px;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
  
    grid-template-areas:
      "gd_menu" 
      "gd_cabecalho"
      "gd_principal"
      "gd_rodape"
    ;
  }
  }

@media (min-width: 641px) and (max-width: 99999px) {
.body_home {
  height: 100vh;
  box-sizing: border-box;  
  padding: 10px;

  display: grid;
  gap: 10px;

  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;

  grid-template-areas:
    "gd_menu gd_cabecalho"
    "gd_principal gd_principal"
    "gd_rodape gd_rodape"
  ;
}
}


@media (min-width: 200px) and (max-width: 640px) {
  .body_contato {
    width: 100vw;
    box-sizing: border-box;  
    padding: 5px;
  
    display: grid;
    gap: 10px;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
  
    grid-template-areas:
      "gd_menu" 
      "gd_cabecalho"
      "gd_principal"
      "gd_rodape"
    ;
  }
  }


@media (min-width: 641px) and (max-width: 99999px) {
.body_contato {
  height: 100vh;
  box-sizing: border-box;  
  padding: 10px;

  display: grid;
  gap: 10px;

  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;

  grid-template-areas:
    "gd_menu gd_cabecalho"
    "gd_principal gd_principal"
    "gd_rodape gd_rodape"
  ;
}
}

@media (min-width: 200px) and (max-width: 640px) {
  .cabecalho {
    background-color: var(--cor-verde);
    grid-area: gd_cabecalho;
    padding: 5px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }

@media (min-width: 641px) and (max-width: 99999px) {
.cabecalho {
  background-color: var(--cor-verde);
  grid-area: gd_cabecalho;
  padding: 5px;
  font-size: 32px;

  display: flex;
  justify-content: center;

  align-items: center;
}
}



@media (min-width: 200px) and (max-width: 640px) {
  .principal {
    background-color: var(--cor-verde);
    font-size: 20px;
  
    grid-area: gd_principal;
    padding: 5px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }

@media (min-width: 641px) and (max-width: 99999px) {
.principal {
  background-color: var(--cor-verde);
  font-size: 20px;

  grid-area: gd_principal;
  padding: 5px;

  display: flex;
  flex-direction: column;
}
}




@media (min-width: 200px) and (max-width: 640px) {
  .quadro {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: var(--cor-cinza-claro);
  
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }
  }
  
  .res_calculo {
    text-align: center;
    font-size: 65px;
    margin-top: 20px;
  }


@media (min-width: 641px) and (max-width: 99999px) {
.quadro {
  padding: 10px;
  margin: 30px 0px 10px 0px;
  background-color: var(--cor-cinza-claro);

  display: grid;

  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;

  align-items: center;
}
}



@media (min-width: 200px) and (max-width: 640px) {
  .foto_result {
    background-color: var(--cor-cinza-medio);
    color: var(--cor-active);
    padding: 5px 10px 10px 5px;
    margin-top: 7px;
    border: 2px solid;
    border-color: var(--cor-cinza-escuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 140px;
  }
  }

@media (min-width: 641px) and (max-width: 99999px) {
.foto_result {
  background-color: var(--cor-cinza-medio);
  color: var(--cor-active);
  padding: 5px 10px 10px 5px;
  margin-left: 20px;
  border: 2px solid;
  border-color: var(--cor-cinza-escuro);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 140px;
  width: 100%;
}
}


.menu {
  background-color: var(--cor-verde);
  grid-area: gd_menu;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 200px) and (max-width: 640px) {
.linha {
  display: inline-block;
  align-items: center;
  justify-content: center;
}
}

@media (min-width: 641px) and (max-width: 99999px) {
  .linha {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }  

.rodape {
  font-size: 18px;
  background-color: var(--cor-verde);
  grid-area: gd_rodape;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.botao {
  background-color: var(--cor-cinza-escuro);
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin-right: 5px;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--cor-branca);
  text-decoration: none;
  font-size: 18px;
}

nav a.active {
  background-color: var(--cor-active);
}

nav a:hover {
  background-color: var(--cor-hover);
  border: 3px solid var(--cor-amarelo);
}


input, textarea {
  padding: 10px;
  font-size: 18px;
  border: 1px solid var(--cor-cinza-medio);
  margin-bottom: 10px;
}
textarea {
  height: 150px;
}

input::placeholder, textarea::placeholder {
  color: #b3c0cb;
}

.botao_acao {
  background-color: var(--cor-cinza-escuro);
  margin: 0px;
  color: var(--cor-branca);
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}

.botao_acao:hover {
  cursor: pointer; 
  background-color: var(--cor-hover);
  border: 3px solid var(--cor-amarelo);   
}

.aviso {
  display: none; 
  background-color: var(--cor-erro);
  margin: 10px;
  padding: 10px;
  color: var(--cor-branca);
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}


@media (min-width: 200px) and (max-width: 640px) {
.social {
  padding: 10px;
  border: none;
  margin: 30px 30px 10px 30px;  
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 7px;
}
}

@media (min-width: 641px) and (max-width: 99999px) {
  .social {
    padding: 10px;
    border: none;
    margin: 30px 0px 10px 0px;
  
    display: grid;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  
    align-items: center;  
    gap: 10px;
    text-decoration: none;
  }
  }


.sodial a {
  text-decoration: none;  
}

@media (min-width: 200px) and (max-width: 640px) {
.contato {
  padding: 10px;
  border: none;
  margin: 10px;
  background-color: var(--cor-cinza-claro);

  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}
}

@media (min-width: 200px) and (max-width: 640px) {
.nome_sobrenome {
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;  
}
}


@media (min-width: 641px) and (max-width: 99999px) {
  .contato {
    padding: 10px;
    border: none;
    margin: 30px 10px 0px 20px;
    background-color: var(--cor-cinza-claro);
  
    display: grid;
  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  
    align-items: center;  
  
  }
  }

.retorno {
  display: none;  
  color: var(--cor-cinza-escuro);
  background-color: var(--cor-branca);
	font-size: 16px;
  border: 2px solid var(--cor-active);
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box; 
  float: none; /* remove qualquer flutuação existente */
  margin: 0 auto; /* define as margens esquerda e direita como automática para centralizar horizontalmente */
  margin-top: 20px;

}


.foto {
  background-color: var(--cor-cinza-claro);
  padding: 5px;
  width: 220px;
  border-radius: 50%;
}